<footer>
    <footer div class="bg-verde">
        <footer>
            <div class="containerpad">
                <div class="move">
                    <h5 class="text-sabermas">¿Querés saber más?</h5>
                    <ul>
                        <li class="tsm"><a href="#" class="tsm2">¿Cómo elegir mi producto?</a></li>
                        <li class="tsm"><a href="#" class="tsm2">¿Cómo usar Shampoo y Acondicionador sólido?</a>
                        </li>
                        <li class="tsm"><a href="#" class="tsm2">Nuestra historia</a></li>
                    </ul>
                </div>

                <div class="move">
                    <h5 class="text-sabermas">Contactanos</h5>
                    <ul>
                        <li class="tsm"><i class="fab fa-instagram"></i><a href="#" class="tsm2">Ecodev</a>
                        </li>
                        <li class="tsm"><i class="fab fa-whatsapp"></i><a href="#"
                                class="tsm2">+54362-0303456</a>
                        </li>
                        <li class="tsm"><i class="far fa-envelope"></i><a href="#"
                                class="tsm2">tucompra@ecodev.ar</a></li>
                    </ul>
                </div>
                <div class="move">
                    <h5 class="text-sabermas">Ayuda</h5>
                    <ul>
                        <li class="tsm"><a href="#" class="tsm2">Envios</a></li>
                        <li class="tsm"><a href="#" class="tsm2">Devoluciones</a></li>
                        <li class="tsm"><a href="#" class="tsm2">Medios de Pago</a></li>
                    </ul>
                </div>
            </div>


            <div>
                <h6 class="copy">Copyright Ecodev - 2021. Todos los derechos reservados.</h6>
            </div>



        </footer>