<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header')%>
<!-- <hr> -->
<div class="back-create-form">
<br>
         <main class="create-form">
             <!-- este main es el contenedor del form -->
             <h3 class="crear-producto">Crear producto</h3>
                <br>
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <div class="labels">
                    <label for="name">Nombre</label>
                </div>
                <div>
                    <input type="text" name="name" id="name" placeholder="Nombre">
                </div>
                <br>
                <br>
                <div class="labels">
                   <label for="price">Precio</label>
                </div>
                <div>
                    <input type="number" name="price" id="price" placeholder="$">
                </div>
                <br>
                <br>
                <div class="labels">
                    <label for="image">Imagen</label>
                </div>
                <div>
                    <input class="input-img" type="file" name="image" id="image" accept=".jpg, .png"></input>
                </div>
                <br>
                <br>
                <div class="labels">
                   <label for="category">Categoría</label>
                </div>
                <div>
                    <select name="category_id" id="category">
                        <!-- No definitive -->
                        <option selected disabled>Elegí</option>
                        <option value="1">Personal Care</option>
                        <option value="2">Health & Beauty</option>
                        <option value="3">Natural Medicine</option>
                        <option value="4">Eco Products</option>
                        <option value="5">Deco</option>
                    </select>
                </div>
                <br>
                <br>
                <div class="labels">
                   <label for="descrip">Descripción</label>
                </div>
                <div>
                <textarea name="description" id="descrip" placeholder="Un hermoso producto sustentable... :)"></textarea>
            </div>
            <br>
            <br>
            <br>
            <div class="form-btn-send">
                <button type="submit">Enviar</button>
            </div>
            <br>
            </form>

    </main>
<br>
</div>

<%- include('../partials/footer') %> 
    </body>

</html>