<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>
    <hr>
        <div class="cont-detail">
            <a class='back' href="#">Volver Atrás</a>
            <div class="colum1">
                <img src="../img/jabonera.png">
            </div>
            <div class="colum2">
                <h2>Name Product</h2>
                <h4>Price</h4>
                

                <h3>Product details</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ullam quia ipsam obcaecati, eveniet in ducimus, 
                    at ipsa dolorum,
                    aliquam incidunt aspernatur? Expedita, facere dolore 
                  </p>
                    <div class="btn-styles">
                    <select>
                        <option>Seleccionar cantidad</option>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                    <a href="" class="btn-detail">Add</a> 
                    </div>
            </div>
            
        </div>



</body>
</html>