<!DOCTYPE html>
<html lang="en">
    <head>
<%- include('../partials/head') %>
    
    <body>
        <%- include('../partials/header')%>
<!-- <hr> -->
        <div class="box-container">

            <div class="box">
        
                <div class="image">
                    <img class="img" src="../img/shampoomixto.png" alt="">
                </div>
        
                <div class="info">
                    <h3 class="title">Shampoo Mixto</h3>
                    <div class="subInfo">
                        <div class="price">$599</div>
                        <div class="detail">Con Manteca de Karité y aroma a Vainilla</div>
                    </div>
                </div>
        
                <div class="overlay">
                    <span><a href="#" style="--i:1;" class="fas fa-shopping-cart"></a></span>
                   <span> <a href="#" style="--i:2;" class="fas fa-heart"> </a></span>
                    <span> <a  href="#" style="--i:3;" class="fas fa-search"> </a></span>
                </div>
            </div>
        
            <div class="box">
        
                <div class="image">
                    <img class="img" src="../img/shampooseco.png" alt="">
                </div>
        
                <div class="info">
                    <h3 class="title">Product</h3>
                    <div class="subInfo">
                        <div class="price">$$$$</div>
                    </div>
                </div>
        
                <div class="overlay">
                    <a href="#" style="--i:1;" class="fas fa-shopping-cart"></a>
                    <a href="#" style="--i:2;" class="fas fa-heart"> </a>
                    <a href="#" style="--i:3;" class="fas fa-search"></a>
                </div>
        
            </div>
        
        
            <div class="box">
        
                <div class="image">
                    <img class="img" src="../img/products/acondsolido.png" alt="">
                </div>
        
                <div class="info">
                    <h3 class="title">Product</h3>
                    <div class="subInfo">
                        <div class="price">$$$$</div>
                    </div>
                </div>
        
                <div class="overlay">
                    <a href="#" style="--i:1;" class="fas fa-shopping-cart"></a>
                    <a href="#" style="--i:2;" class="fas fa-heart"> </a>
                    <a href="#" style="--i:3;" class="fas fa-search"></a>
                </div>
        
            </div>
            <div class="box">
        
                <div class="image">
                    <img class="img" src="../img/products/bambu" alt="">
                </div>
        
                <div class="info">
                    <h3 class="title">Product</h3>
                    <div class="subInfo">
                        <div class="price">$$$$</div>
                    </div>
                </div>
        
                <div class="overlay">
                    <a href="#" style="--i:1;" class="fas fa-shopping-cart"></a>
                    <a href="#" style="--i:2;" class="fas fa-heart"> </a>
                    <a href="#" style="--i:3;" class="fas fa-search"></a>
                </div>
        
            </div>
            
            <div class="box">
        
                <div class="image">
                    <img class="img" src="../img/back/Logo-v2.ico"alt="">
                </div>
        
                <div class="info">
                    <h3 class="title">Product</h3>
                    <div class="subInfo">
                        <div class="price">$$$$</div>
                    </div>
                </div>
        
                <div class="overlay">
                    <a href="#" style="--i:1;" class="fas fa-shopping-cart"></a>
                    <a href="#" style="--i:2;" class="fas fa-heart"> </a>
                    <a href="#" style="--i:3;" class="fas fa-search"></a>
                </div>
        
            </div>
            
            <div class="box">
        
                <div class="image">
                    <img class="img" src="../img/back/Logo-v2.ico" alt="">
                </div>
        
                <div class="info">
                    <h3 class="title">Product</h3>
                    <div class="subInfo">
                        <div class="price">$$$$</div>
                    </div>
                </div>
        
                <div class="overlay">
                    <a href="#" style="--i:1;" class="fas fa-shopping-cart"></a>
                    <a href="#" style="--i:2;" class="fas fa-heart"> </a>
                    <a href="#" style="--i:3;" class="fas fa-search"></a>
                </div>
        
            </div>
            
            
         </div>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    </body>        

