<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>
    <hr>
    
    <div class="shopping-card-container">

    
    <section class="shopping-cart">
        <div class="title">

            <h3>Carrito de Compras</h3>
            <p>Cant. Productos: 1 </p>
        </div>
        <hr>
        <div class="cart-details">
            <div class="product-img">
                <img class="imagen-producto" src="../img/bottle.jpg" alt="Producto1">
            </div>
            <div class="product-description">
                <h5>Nombre de Producto</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, eaque odio commodi ducimus praesentium corporis.</p>
                <strong> $1500.50</strong>

            </div>
            <div class="product-cant">
                <a href="#"><i class="fas fa-minus"></i></a>
                <input type="number" min="1" name="cantidad" id="cantidad" value="1" />
                <a href="#"><i class="fas fa-plus"></i></a>
            </div>
            <div class="product-subtotal">
                <h4>$1500.00</h4>
            </div>
            <div class="product-delete">
                <a href="#"><i class="fas fa-trash-alt"></i></a>
            </div>
            
        </div>
        <hr>
     
        
    </section>
    

    <section class="footer-cart">
        <div class="total">
            <h3>Subtotal</h3> <p>$000</p>
        </div>           

        <div class="opciones">
            <a href="/products" class="btn-continue">Seguir comprando</a>
            <a href="#" class="btn-end">Finalizar Compra</a>
               
        </div>

        
    </section>
</div>
<%- include('../partials/footer') %> 
</body>
</html>
