<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header')%>
<!-- <hr> -->
<div class="back-create-form">
<br>
         <main class="create-form">
             <!-- este main es el contenedor del form -->
             <h3 class="crear-producto">Crea tu producto!</h3>
                <br>
            <form action="/" method="POST">
                <div class="labels">
                    <h4>Nombre del producto</h4>
                </div>
                <div>
                    <input type="text" name="name" id="">
                </div>
                <div class="labels">
                    <h4>Precio</h4>
                </div>
                <div>
                    <input type="number" name="price" id="">
                </div>
                <div class="labels">
                    <h4>Imagen</h4>
                </div>
                <div>
                    <input class="input-img" type="file" name="image" id="imagen" accept=".jpg, .png"></input>
                </div>
                <div class="labels">
                    <h4>Categoría</h4>
                </div>
                <div>
                    <select name="category" id="category">
                        <!-- No definitive -->
                        <option value=>Elegí</option>
                        <option value=>Personal Care</option>
                        <option value=>Health & Beauty</option>
                        <option value=>Natural Medicine</option>
                        <option value=>Eco Friendly Products</option>
                    </select>
                </div>
                <div class="labels">
                    <h4>Descripción</h4>
                </div>
                <div>
                <textarea name="descripcion" id="descrip"></textarea>
            </div>
            <div class="form-btn-send">
                <button class="create-prod">Enviar</button>
            </div>
            </form>

    </main>
<br>
</div>
    </body>

</html>