
<style>
    section.gandhi{
        padding: 2rem ;
        display: flex;
        align-items: center;
        margin: auto;
        padding: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #f7f4f4;
        height: 500px;
    }
    .gandhi blockquote{
      margin: 2rem
    }
 
    .gandhi img{
        border-radius: 50%;
        width: 150px;
    }

    @media(min-width: 380px){
        .gandhi img{
        width: 250px;
    }
    }
  
 
</style>

<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <header class="main-header"></header>
        <nav>
            <ul>
                <li class="burger"><span class="fas fa-bars"></span></li>
                <div class="search-icon">
                    <input type="search" placeholder="Search">
                    <label class="icon" style="padding-top: 12px;">
                        <span class="fas fa-search"></span>
                    </label>
                </div>
                <li class="logo">
                    <a href="/">
                    <img src="/img/back/Logo-v2.ico">
                </a>
                </li>
                <div class="items">
                    <li><a class="text-routes" href=#>Productos</a></li>
                    <li><a class="text-routes" href=#>Nosotros</a></li>
                    <li><a class="text-routes" href=#>Medioambiente</a></li>
                    <li><a class="text-routes" href='/users/register'>Únete</a></li>
                </div>
                    <li class="heart"><a href=#><span class="fas fa-heart"></span></li></a>
                    <li class="shop"><a href='/products/cart'><span class="fas fa-shopping-cart"></span></a></li>
                <li class="user"><a href='/users/login'><span class="fas fa-user-alt"></span></a></li>
            </ul>
        </nav>

            <!-- <section class="banner">
                <div class="banner-content">
                    <a href="">Ver productos</a>
                </div>
            </section> -->

             <!-- <main class="home">
                <h2 class="home-text">Ofertas</h2>
                <section class="home-box">
                 
                    <div class="3-prod-box">
                        <article>
                        <img src="/img/products/bottle2.jpg" alt="">
                        <button class="off-fixed">19% off</button>
                        <h3 class="prod-title">Botella térmica</h3>
                        
                        <br>
                        <button class="add-to-cart">Agregar al carrito</button>
                        </article>
                
                        <article>
                            <img src="img/products/acondsolido.png" alt="">
                            <button class="off-fixed">25% off</button>
                            <h3 class="prod-title">Acondicionador sólido</h3>
                        <br>
                        
                        <button class="add-to-cart">Agregar al carrito</button>
                        </article>
                        <article>
                            <img src="/img/products/tooth-p.jpg" alt="">
                            <button class="off-fixed">30% off</button>
                            <h3 class="prod-title">Dentrifico con extracto de Eucalipto</h3>

                        <br>
                        <button class="add-to-cart">Agregar al carrito</button>
                    </article>
                        <article>
                            <img src="/img/products/cepillo-off.jpg" alt="">
                            <button class="off-fixed">15% off</button>
                            <h3 class="prod-title">Cepillo de Bamboo Mango Grueso</h3>
                            
                            <br>
                            <button class="add-to-cart">Agregar al carrito</button>
                            </article>
                            <article>
                                <img src="/img/products/after-shave.jpg" alt="">
                                <button class="off-fixed">10% off</button>
                                <h3 class="prod-title">Loción Barba After Shave</h3>
                                
                                <br>
                                <button class="add-to-cart">Agregar al carrito</button>
                                </article>
                                <article>
                                    <img src="/img/products/copita-2.jpg" alt="">
                                    <button class="off-fixed">20% off</button>
                                    <h3 class="prod-title">Copita Mens</h3>
                                    
                                    <br>
                                    <button class="add-to-cart">Agregar al carrito</button>
                                    </article>
                                    </div>
                    </section>
                        <br>

                        <h2 class="home-text">Ver gama de productos</h2>
                    <section class="home-box">
                    <div class="3-prod-box">
                        <article>
                        <img src="/img/products/bambu.png" alt="">
                            <button class="gama">Comprar cepillos</button>
                       
                        <br>
                        </article>
                        <article>
                            <img src="img/products/cbd2.jpg" alt="">
                            <button class="gama">Comprar CBD</button>
                            
                        </article>
                        <article>
                            <img src="/img/products/eco-bag.png" alt="">
                           
                         
                        </article>
                        <article>
                            <img src="/img/products/deco.jpg" alt="">
                            <button class="gama">Comprar deco</button>
                          
                        </article>
                    </div>
                </section>
            </main> -->
            <br>
            <br>
            <br>
            <br>

            <section class="gandhi">
                <figure>
                    <img src="img/back/Gandhi.png" alt="Gandhi">
                    
                </figure>
                <blockquote cite="https://www.nytimes.com/2011/08/30/opinion/falser-words-were-never-spoken.html">
                    <p><i>
                        <!-- "We but mirror the world. All the tendencies present in the outer world are to be found in the world of our body. If we could change ourselves, the tendencies in the world would also change. As a man changes his own nature, so does the attitude of the world change towards him. This is the divine mystery supreme. A wonderful thing it is and the source of our happiness. We need not wait to see what others do. -->
                        Be the change you want to see in the world
                    </i>
                    </p>
                    <br>
                    <strong><figcaption>Mahatma Gandhi</figcaption></strong>
                               </blockquote>
            </section>
            <br>
            <br>
            <br>
            <br>

        <%- include('./partials/footer')  %> 
    </body>


</html>