<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header')%>

            <section class="banner">
                <div class="banner-content">
                    <!-- <h2>Content</h2> -->
                    <a href="">Ver productos</a>
                </div>
            </section>

    </body>

</html>