
<style>
    section.gandhi{
        padding: 2rem ;
        display: flex;
        align-items: center;
        margin: auto;
        padding: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #f7f4f4;
        height: 500px;
    }
    .gandhi blockquote{
      margin: 2rem
    }
 
    .gandhi img{
        border-radius: 50%;
        width: 150px;
    }

    @media(min-width: 380px){
        .gandhi img{
        width: 250px;
    }
    .search-icon .icon{
        padding-top: 12px
    }
    section.free-ecobag{
        display: flex;
    }
    }
  
 
</style>

<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>


    <body>
        <%- include('./partials/header') %>

            <section class="banner">
                <div class="banner-content">
                    <a href="">Ver productos</a>
                </div>
            </section>

             <main class="home">
                <h2 class="home-text">Ofertas</h2>
                <section class="home-box">
                 
                    <div class="3-prod-box">
                        <article>
                        <img src="/img/products/bottle2.jpg" alt="">
                        <button class="off-fixed">19% off</button>
                        <ul>
                            <li class="prod-title">Botella térmica</li>
                            <li class="prod-price">$1200</li>
                            <li class="prod-price-off">$980</li>
                        </ul>
                        <!-- <h3 class="prod-title">Botella térmica</h3> -->
                        
                        <br>
                        <a href="">
                        <button class="add-to-cart">Agregar al carrito</button>
                    </a>
                        </article>
                
                        <article>
                            <img src="img/products/acondsolido.png" alt="">
                            <button class="off-fixed">25% off</button>
                           <ul>
                               <li class="prod-title">Acondicionador sólido</li>
                               <li class="prod-price">$1200</li>
                           </ul>
                        <br>
                        <a href="">
                        <button class="add-to-cart">Agregar al carrito</button>
                    </a>
                        </article>
                        <article>
                            <img src="/img/products/tooth-p.jpg" alt="">
                            <button class="off-fixed">30% off</button>
                         
                                <h3 class="prod-title">Dentrifico con extracto de Eucalipto</h3>
                            
                        <br>
                        <ul>
                        <a href="">
                        <button class="add-to-cart">Agregar al carrito</button>
                    </a>
                    <li class="prod-price">$1200</li>
                    <li class="prod-price-off">$980</li>
                </ul>
                    </article>
                        <article>
                            <img src="/img/products/cepillo-off.jpg" alt="">
                            <button class="off-fixed">15% off</button>
                            <ul>
                                <li class="prod-title">Cepillo de Bamboo Mango Grueso</li>
                                <li class="prod-price">$1200</li>
                            </ul>
                            
                            <br>
                            <a href="">
                            <button class="add-to-cart">Agregar al carrito</button>
                        </a>
                            </article>
                            <article>
                                <img src="/img/products/cremas-2.jpg" alt="">
                                <button class="off-fixed">10% off</button>
                                <ul>
                                    <li class="prod-title">Crema para cuerpo y manos</li>
                                    <li class="prod-price">$1200</li>
                                </ul>
                                
                                <br>
                                <a href="">
                                <button class="add-to-cart">Agregar al carrito</button>
                            </a>
                                </article>
                                <article>
                                    <img src="/img/products/copita-2.jpg" alt="">
                                    <button class="off-fixed">20% off</button>
                                    <ul>
                                        <li class="prod-title">Copita M.</li>
                                        <li class="prod-price">$1200</li>
                                    </ul>
                                    <br>
                                    <a href="">
                                    <button class="add-to-cart">Agregar al carrito</button>
                                </a>
                                    </article>
                                    </div>
                    </section>
                        <br>

                        <h2 class="home-text">Ver gama de productos</h2>
                    <section class="home-box">
                    <div class="3-prod-box">
                        <article>
                        <img src="/img/products/bambu.png" alt="">
                        <a href="#/products/eco-products">
                            <button class="gama">Comprar cepillos</button>
                        </a>
                        <br>
                        </article>
                        <article>
                            <img src="img/products/cbd2.jpg" alt="">
                            <a href="#/products/natural-medicine">
                            <button class="gama">Comprar CBD</button>
                        </a>
                        </article>
                        <article>
                            <img src="/img/products/eco-bag.png" alt="">
                            <a href="#/products/eco-products">
                            <button class="gama">Comprar eco-products</button>
                        </a>
                        </article>
                        <article>
                            <img src="/img/products/deco.jpg" alt="">
                            <a href="#/products/deco">
                            <button class="gama">Comprar deco</button>
                        </a>
                        </article>
                        <article>
                            <img src="/img/products/cremas.jpg" alt="">
                            <a href="#/products/healt&beauty">
                            <button class="gama">Comprar cremas</button>
                        </a>
                        </article>
                    </div>
                </section>
            </main>
            <br>
            <br>
            <br>
            <br>

            <section class="gandhi">
                <figure>
                    <img src="img/back/Gandhi.png" alt="Gandhi">
                    
                </figure>
                <blockquote cite="https://www.nytimes.com/2011/08/30/opinion/falser-words-were-never-spoken.html">
                    <p><i>
                    
                        Be the change you want to see in the world
                    </i>
                    </p>
                    <br>
                    <strong><figcaption>Mahatma Gandhi</figcaption></strong>
                               </blockquote>
            </section>
            <br>
            <br>
           
         

        <%- include('./partials/footer')  %> 
    </body>


</html>