<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header')%>
    
        <hr>
        
        
          <h3 class='iniciar-sesion'>Inciar sesión</h3>
        <h4 class='comunidad'>¿Aún no tienes una cuenta? <a href="/users/register">Unite a la comunidad</a></h4>
        <main class="login-form">
            <form>
              <div class="form-name">
              <label for="user-name"></label>
              <input type="text" name="nombre" id="user-name" placeholder="Nombre de usuario" required>
            </div>
            <div class="form-pass">
              <label for="pass"></label>
              <input type="password" name="Contraseña" id="pass" placeholder="Contraseña" required>
            </div>
            <br>
            <div class="form-btn-send">
              <button type="submit">Ingresar</button>
            </div>
            </form>
          </main>

    </body>

</html>