<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <div class="notfound-container">
        <div class="msg-error">
            <h5>Ops!! Algo salió mal</h5>
            <p>404</p>
            <h4>Page not found</h4>
        </div>
        <div class="img-error">
            <img src="/img/robot-error.png" alt="not found image">
        </div>
    </div>
    <%- include('./partials/footer') %> 
</body>
</html>