<% include('./partials/head') %> 
<head>
    <title>Sorry, 404 Page Not Found</title>
</head>
<style>
    div{
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        
    }
    div h4{
        margin-right: 40px;
        font-size: 25px;
    }
    
    div p{
        font-size: 20px;
    }
    
</style>
<html>
    <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
   <div>
       <h4>404</h4> 
       <p>This page could not be found.</p>
   </div>
    </body>
</html>