* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* 
@font-face {
    font-family: 'Matter';
    src: local('Matter Medium'), local('Matter-Medium'),
        url('Matter-Medium.woff2') format('woff2'),
        url('Matter-Medium.woff') format('woff'),
        url('Matter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  } */

/**** HEADER ****/

header {
    background-color: rgb(204, 201, 201);
    height: 60px;
    opacity: 0.7;
    box-shadow: 0px 0px 4px rgb(100, 100, 100);
}

nav {
    padding: 8px 0 ;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    letter-spacing: .5px;
}

nav ul li {
    margin: 5px 0;
    padding: 0 5px;
}

nav .user {
    display: none;
}

nav ul li a {
    /* color: #000; */
    text-decoration: none;
}

nav ul li a.text-routes{
    /* color: #000; */
    color: rgb(75, 74, 74)
}

.logo {
    justify-content: center;
}

.logo img{
    width: 60px;
    border-radius: 50%;
    /* opacity: .9; */
}

.items {
   display: none;
}

.items a{
    position: relative;
}

.items a:hover{
    color:rgb(46, 124, 46);
    font-weight: 600;
}

.items a:after{
    content: "";
    position: absolute;
    background-color: rgb(72, 138, 72);
    height: 2px;
    border-radius: 10px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: .3s;
}

.items a:hover:after{
    width: 100%;
}

.search-icon {
    height: 45px;
    width: 40px;
    display: flex;
    border-radius: 5px;
    /* padding: 0 10px; */
    margin-right: 10px;
}

.search-icon form{
    display: flex;
}

.search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding-left: 10px;
    background: rgb(243, 240, 240);
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    display: none;
}


.search-icon form button {
    border-radius: 0 5px 5px 0;
    color: rgb(75, 74, 74);
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 12px;
}


.user, .heart, .shop {
    font-size: 17px;
}

.user a, .heart a, .shop a{
    color: rgb(75, 74, 74);
    opacity: .9;
}

.user a:hover, .heart a:hover, .shop a:hover{
    color:#21660c;
    cursor: pointer;
}

/**** HOME ****/
/*Mobile first reminder*/

main.home .home-text{
    font-weight: normal;
}

main.home{
    background-color: #ffffff;
}

main.home h2{
    padding: 2rem;
}

section.home-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1400px;
}

section.home-box div.prod-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

section.home-box div.prod-box div{
    width: 220px;
}

section.home-box article {
    margin: auto;
    margin: 0 10px 0px;
    margin-bottom: 3rem;
    cursor: pointer;
    border-radius: 5px;
    /* width: 380px; */
    width: 255px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

section.home-box article div img{
    /* width: 350px; */
    /* height: 380px;  */
    height: 300px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition:  all .5s;
}



/*products ejs*/
section.product-box{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1400px;
    padding-top: 2.5rem;
}

section.product-box div.prod-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 4rem;
    margin-left: 10px;
    margin-right: 10px;
}
section.product-box article.show-products{
    width: 200px;
    margin: 10px;
}
section.product-box div.prod-box article.show-products div{
    width: 200px;
    font-size: .9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
}

section.product-box div.prod-box article.show-products div.name{
    font-weight: 600;
    padding: 7px 0 10px 0;
}

section.product-box article.show-products div img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all .2s;
}

section.product-box article.show-products div img:hover{
    transform: scale(1.5);
}

section.product-box div.side-filter{
    margin: 0 30px;
    width: 20%;
}

section.product-box div.side-filter div.transform{
    padding: 10px;
}

section.product-box div.side-filter ul li.filter-button{
    border-bottom: 1px solid #D6DADF;
    padding: 10px 0;
}

section.product-box aside ul.list-category{
    padding-left: 2.4rem;
}
section.product-box aside ul.list-category li{
    padding: 16px 0;
    color: #19124F;
    font-size: 14px;
    cursor: pointer;
}
section.product-box aside ul.list-category li:hover{
    text-decoration: underline;
}
section.product-box aside h2{
    padding: 0 0 20px;
    font-size: 20px;
    color: #19124F;
}

div.side-filter ul{
    list-style: none;
}
div.side-filter ul button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
div.side-filter ul button.search-category{
    padding-left: .8rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
div.side-filter ul button.search-category i{
    font-size: 1rem;
}

div.side-filter ul button.all-category{
    padding-left: 1.5rem;
    margin: 20px 0 10px;
}

div.side-filter ul button.all-category span:hover{
    text-decoration: underline;
}
div.side-filter ul button span{
    font-size: 14px;
    font-weight: 600;
    color: #19124F;
}
div.side-filter div.filter-price form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-left: 2.4rem;
}
div.side-filter div.filter-price form label{
    height: 40px;
}
div.side-filter div.filter-price form label span{
    font-size: .9rem;
    margin-left: 1rem;
}
/*end prodcut ejs*/

section.home-box article h3{
    margin: 10px 0 3px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    color: rgb(78, 78, 78);
    text-align: center;
}
div.prod-box article ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

div.prod-box article ul li {
    margin: 0 10px;
}

div.prod-box article ul li.prod-price{
    font-weight: 600;
    color: #6aa757;
    margin: 0 7px; 
    text-decoration: line-through;
    font-size: 1rem;
}

div.prod-box article ul li.prod-price-off{
    font-size: 14px;
    color: #6aa757;
    font-weight: 600;
    letter-spacing: .5;
}

div.prod-box article button.add-to-cart{
    margin: auto;
    background: #ffffff;
    border: 1.5px solid rgb(32, 32, 32);
    border-radius: 20px;
    padding: 8px 20px;
    transition: all .5s;
    font-weight: 600;
    cursor: pointer;
    margin-top: 8px;
    color: rgb(78, 78, 78);
    transition: all .7s ease-in-out;
}

div.prod-box article button.add-to-cart:hover{
    box-shadow: 0 0 0 3px rgb(224, 223, 223);
    /* border: 1.5px solid rgb(224, 223, 223); */
}

div.prod-box article button.off-fixed{
    margin: auto;
    border: 1px solid #6aa757;
    /* border: 2px solid #21660c; */
    /* background-color: #6aa757; */
    background-color: #4b813a;
    color: #fafafa;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 600;
    position: absolute;
    bottom: 320px;
    left: -5px;
    text-transform: uppercase;
}

section.icon-text{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
}
div.container{
    margin: 20px
}


section.icon-text div.container{
    display: flex;
    align-items: center;
}

section.icon-text div.icon{
    max-width: 30px;
    justify-content: left;
    margin-right: 15px;
}
    div.icon span{
        font-size: 2rem;
        color: rgb(75, 74, 74);
        opacity: .9;
    }
section.icon-text div.text{
    display: flex;
    /* padding: 0 20px; */
}
section.icon-text ul{
    display: flex;
    list-style: none;
    flex-direction: column;
}
section.icon-text ul li{
    margin: 5px 10px;
}
section.icon-text .title{
    font-weight: 600;
}
/* section.icon-text span.title{
    display: flex;
} */

article button.gama{
    background: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 7px 20px;
    font-weight: 600;
    box-shadow: 0 0 10px #b5b8b1;
    color: rgb(78, 78, 78);
    cursor: pointer;
    font-size: 14px;
}

section.home-box article a.gama {
    position: absolute;
    bottom: 50px;
}

section.home-box article img:hover{
    box-shadow: 0px 0px 10px rgb(177, 176, 176);
}

section.middle-home {
        width: 92%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 4rem;
        background-color: #f7f4f4;
    }

    div.eco-activism{
        padding: 4rem 2rem;
        gap: 20px;
        text-align: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.eco-activism span.material-icons-outlined{
        font-size: 3rem;
        color: #588d48;
    }

    /* div.eco-activism div{
        font-size: 1.45rem;
        margin: 20px;
        padding: 2rem 3rem;
    } */
    div.eco-activism div h2{
        color: rgb(50, 31, 75);
        font-size: 1.4rem;
    }
    div.eco-activism div p{
        color: rgb(107, 107, 107);
        font-size: 1.2rem;
    }

    section.notes-img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section.notes article {
        margin: auto;
        width: 220px;
        height: 300px;
        margin-bottom: 12rem;
        background-color: var(--background-color);
        position: relative;
        border-radius: .5rem;
        text-decoration: none;
        cursor: pointer;

        --background-color: #000;
        --border-size: 2.5px
    }

    section.notes-img article::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* z-index: -1; */
        border: var(--border-size) solid transparent;
        border-radius: 10px;
        transition: all 300ms cubic-bezier(0.2, 0, 0.4, 1);
    }

      section.notes article:hover::before{
        /* z-index: 1; */
        border: var(--border-size) solid var(--background-color);
        top: calc(var(--border-size) * -2.5);
        left: calc(var(--border-size) * -2.5);
        right: calc(var(--border-size) * -2.5);
        bottom: calc(var(--border-size) * -2.5);
    }

    section.notes div.display-desktop{
        display: none;
    }

    section.notes img {
        width: 100%;
        border-radius: .5rem;
        object-fit: cover;
        height: 100%;
        margin-bottom: 1.3rem;
    }

    section.notes a{
        font-size: 1.2rem;
        color: #000;
        /* margin-right: 1rem; */
        cursor: pointer;
        text-decoration: none;
    }
    section.middle-home div.note-text{
        display: flex;
        margin: 1rem 4rem;
        justify-content: center;
    }

   div.newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

div.newsletter div{
        position: relative;
        font-size: 1rem;
        width: 300px;
        color: rgb(25, 18, 79);
        font-weight: 600;
    }
div.newsletter button{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        bottom: 2px;
        border: none;
        background: transparent;
    }
div.newsletter input{
        margin-top: 1rem;
        padding-left: 10px;
        padding-right: 40px;
        border: none;
        border-bottom: 2px solid #8C95A5;
        background-color: transparent;
        width: 200px;
        height: 40px;
    }
div.newsletter input::placeholder{
        color: #2e2e2e ;
    }
    div.newsletter p{
        width: 300px;
        font-size: 11px;
        margin-top: 10px;
    }
    div.newsletter p a{
        font-weight: 600;
        text-decoration: underline;
        color: #000;
        cursor: pointer;
    }
/**** FORMS ****/

.login-form, .register-container{
    display: flex;
    justify-content: center;
}

.title-form, .crear-producto{
    margin: 50px 0 10px 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
    color: #242424;
}

.comunidad {
    font-size: 15px;
    text-align: center;
    color: #242424;
    font-weight: normal;
}

.comunidad a {
    text-decoration: none;
    font-weight: 700;
    color: #242424;
}

.form-email, .form-pass, .input-form{
    margin: 20px;
    text-align: center;
}

.form-btn-send{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.form-header{
    margin-bottom: 2rem;
}

.form-cookie{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.form-cookie input{
    max-width: 100px;
    height: 11px;
}

.form-cookie label{
    font-size: 0.9rem;
    color: #4b4a4a;
}

.form-cookie label a{
    text-decoration: none;
    color: #242424;
}

input#remb{
    width: 20px;
}

.login-form input, .register-container input, .register-container select{
    /* border: 0.5px solid rgb(72, 138, 72); */
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    border: 2px solid #f7f7f7;
    width: 320px;
    /* border:none; */
    padding: 1.2rem;
    /* padding: 2rem; */
    background-color: #f7f7f7;
    transition: 500ms ease;  
}

.register-container select{
    color: gray
}
 .login-form input:hover, .login-form input:focus, .register-container input:hover, .register-container input:focus, .register-container select:focus, .register-container select:hover{
    border: 2px solid #000;
}

/*FRONT VALIDATION LOGIN */

.login-form span{
    display: flex;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0 0 10px;
    color: #bb0f0f;
}
/**/


/******* 
CREATE FORM
********/

div.back-create-form{
    background: url('/img/back/eco-art1.png') no-repeat center center/cover;
    margin-top: 10px;   
}

.create-form{
    margin: auto;
    border: 1px solid rgb(32, 105, 32);
    width: 90%;
    padding: 10px 0 50px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.create-form h3{
    text-align: center;
    margin: 20px 0 30px;
}

.create-form div{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.create-form div.labels{
    margin-bottom: 15px;
}

.create-form div label{
    font-weight: normal;
}

.create-form textarea{
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    border: 2px solid #f1f1f1;
    padding: 14px;
    background-color: #f7f7f7;
    height: 150px;
    width: 70%;
    max-width: 600px;
    transition: .5s ease;
}


.create-form input, .create-form select{
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    border: 2px solid #f1f1f1;
    width: 320px;
    padding: 16px;
    background-color: #f7f7f7;
    transition: .5s ease;
}

.create-form input:hover, .create-form select:hover, .create-form textarea:hover{
    border: 2px solid #000; 
}

.create-form input:focus, .create-form select:focus, .create-form textarea:focus{
    border: 2px solid #000; 
}

.form-btn-send button{
    border-radius: 100px;
    border: none;
    position:relative;
    width: 400px;
    background: var(--background-color);
    padding: 1.4rem 1rem;
    color: #ffffff;
    cursor: pointer;

    --background-color: #538d42;
    --border-size: 2.5px
}

.form-btn-send button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid var(--background-color);
    border-radius: 100px;
    transition: all 300ms cubic-bezier(0.2, 0, 0.4, 1);
}

.form-btn-send button:hover::before{
    top: calc(var(--border-size) * -2.5);
    left: calc(var(--border-size) * -2.5);
    right: calc(var(--border-size) * -2.5);
    bottom: calc(var(--border-size) * -2.5);
}

hr {
    width: 98%;
    margin: auto
}

/*****************************************/
  /*CARRITO DE COMPRAS*/
/*****************************************/
.shopping-card-container{
    width: 100%;    
}

.shopping-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.title h3, p {
    padding: 0.5rem;
}
.title{
    text-align: center;
}

.imagen-producto{
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.product-img{    
    margin-right: 7px;
    margin-left: 10px;
    box-shadow: 2px 2px 10px rgb(56, 56, 56);
}

.product-description{
    width: 30%;
}
.product-description p{
    display: none;
}
.product-cant{
    display: flex;    
    align-items: center;
    
}
.product-cant i{
    
    font-size: 0.7rem;
    color: green;
    margin: 0px 7px;
}
#cantidad{
    width: 30px; 
    height: 30px;   
    text-align: center;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

.cart-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}

.product-subtotal{
    margin-left: 25px;
}

.product-delete i{
    color: grey;
    font-size: 1rem;
    margin:15px;
    
}
.footer-cart {
    padding:10px;
}
.total{
      
    height: auto;
    display: flex;
    justify-content: center;
    
}

.total h3, p{
    padding: 12px;
    
}


.opciones{
    display: flex;    
    justify-content: center;

}
.opciones button{
    margin: 10px 5px;
}
.btn-continue{
    margin: 5px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    background-color: green;
    border:none;
    padding: 8px;
    transition: background-color;
    
    
}
.btn-end{
    text-decoration: none;
    background-color: green;
    color: white;
    margin: 5px;
    border-radius: 30px;
    border: none;
    padding: 8px;
    transition: background-color;
    
}

.btn-end:hover {
    
    background-color: rgb(204, 201, 201);
    transition:  0.5s;
    cursor: pointer;
}

.btn-continue:hover {

    background-color: rgb(204, 201, 201);
    cursor:pointer;
    transition:  0.5s;
    cursor: pointer;
    }


@media(min-width: 771px) {
    .total{
    justify-content: flex-end;
    margin-right: 8rem; }

}

/***********************************************************
    End shooping cart


/*CART //////////////////////////////////////////*/


/*BANNER HOME*/

.banner {
    position: relative;
    width: 100%;
    background-image: url('/img/back/natural-product.jpg');
    height: 500px;
    margin: 3px 0;
    background-size: cover;
    animation: banner 28s infinite linear;
    /* transition: banner 2000ms */
    opacity: 0.92;
}

.banner-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 20, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px;
}

.banner-content a {
    text-decoration: none;
    color: #fff;
    padding: 9px 20px;
    border: 2px solid #fff;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.banner-content a:hover {
    background-color: rgb(241, 239, 239);
    color: #333;
}

/* @keyframes banner {
    0%{
        background-image: url('/img/back/natural-product.jpg');
    }
    25%{
        background-image: url('/img/back/natural-product.jpg');
    }
    26%{
        background-image: url('/img/back/natural-product1.jpg');
    }
    50%{
        background-image: url('/img/back/natural-product1.jpg');
    }
    51%{
        background-image: url('/img/back/natural-product2.jpg');
    }
    75%{
        background-image: url('/img/back/natural-product2.jpg');
    }
    76%{
        background-image: url('/img/back/natural-product3.jpg');
    }
    100%{
        background-image: url('/img/back/natural-product3.jpg');
    }
} */


/*descrip produ /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////*/

.art {
    display: inline-block;
    width: 390px;
    height: 500px;
}

.caja {
    display: flex;
    width: 350px;
    height: 350px;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
}

.caja img {
    width: 100%;
    height: 100%;
}

.letter {
    /* font-family: "Roboto", "sans-serif"; */
    color: green;
    font-size: 20px;
    text-align: center;
}

.encabezadoProdu{
    display: flex;
    /* font-family: "Roboto", "sans-serif"; */
    font-size: 25px;
    color: green;
    text-align: center;
    justify-content: center;
}

.descrip {
    /* font-family: 'Franklin Gothic Medium'; */
    color: #b5b8b1;
    text-align: center;
    width: 50x;
    height: 30px;
}

.price {
    /* font-family: 'Roboto', serif; */
    color: grey;
    text-align: center;
}

.holi {
    display: flex;
    align-self: center;
    size: 35px;
    margin-top: 15px whitesmoke;
    background-color: whitesmoke;
    color: black
}

.more {
    display: flex;
    font-size: 12px;
    align-items: center;
    /* font-family: "Roboto", "sans-serif"; */
    justify-content: center;
    background-color: whitesmoke;
    margin-bottom: 20px whitesmoke;
    color: grey;
}

.produ {
    /* font-family: 'Roboto', 'sans-serif'; */
    font-size: 30px ;
    color: grey;
    background-color: #f5f5f5;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 20px;
    text-align: center;
}

/********************************************************************
*** Not found page Styles
------------------------------------------------------------------*/
.notfound-container{
    width: 90vw;
    margin:15px 25px;
    border-bottom: 1px brown solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-error{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-error img {
    width: 80%;
    
}
.msg-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.msg-error p {
    color:rgb(63, 63, 63);
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
}

/*End not found style*/



/********************************************************************
Form Register Styles
------------------------------------------------------------------*/
 .label-icon i{   
    width: 40px;   
    text-align: center;
    background-color: rgb(61, 61, 61);
    padding: 8px 10px;
    margin-left: 7px; 
    margin-top: 13px; 
    border-radius: 4px 0px 0px 4px;
    color: white; 
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.2);  */
    opacity: 0;
    transition: all 0.5s;
  }
  .label-icon {
      margin-right: 4px;
    
    transition: opacity 0.4s;
    
}
.input-form:hover .label-icon i,
.input-form:focus .label-icon i {
    
    background-color: #21660c;
    opacity: 1;
    
}  


.btn-opciones{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
}
.btn-aceptar{
    background: rgb(98,181,163);
    background: linear-gradient(90deg, rgba(98,181,163,1) 0%, rgb(80, 102, 176) 25%, rgba(86,177,153,1) 61%, rgb(70, 150, 18) 100%);
    
    height: 2rem;
    width: 100%;
}



.btn-aceptar
{
    color: white;
    border:none;
    
    border-radius: 5px;
    box-shadow: 2px 2px 7px grey;
}

section.recommend{
    margin: 4rem 1.2rem;
}
section.recommend h2{
    font-weight: normal;
    margin: 1.5rem 1rem;
}
section.recommend div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.recommend article{
    margin: 0 10px;
    position: relative;
}

section.recommend article span{
    display: inherit;
}

section.recommend img {
    width: 220px;
    height: 220px;
    border-radius: 5px;
    object-fit: cover;
}
section.recommend button{
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* section.recommend article span{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2rem;
    border: 1px solid #000;
    padding: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px rgb(177, 176, 176);
    color: #4b4b4b;
    cursor: pointer;
    z-index: 1;
} */

section.recommend article i{
    
    font-size: 1rem;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px rgb(177, 176, 176);
    opacity: .9;
    color: #e9b0b0;
    cursor: pointer;
    /* z-index: -1; */
}

section.recommend article i:hover{
    background-color: #f0f0f0;
}
.bar {
    display: block;
    width: 19px;
    height: 2px;
    margin: 3px 1rem 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    
    

}
/********************************************************
End Register Form
*/





 /* RESPONSIVE //////////////////////////////////////////////////
 ///////////////////////////////////////////////////////////////*/
 @media(min-width: 380px){
    .login-form input, .register-container input, .register-container select{
        width: 400px
    }
    div.apps ul li{
        margin: 1rem;
    }
    section.home-box div.prod-box div{
        width: 255px;
    }
    section.home-box article div img{
        height: 340px;
    }
    div.prod-box article button.off-fixed{
        left: -20px;
        bottom: 350px;
    }
    div.newsletter input{
        width: 300px;
    }
    
    
   
    
}

@media(min-width: 620px){
    .create-form{
        width: 50%;
    }
    section.home-box div.prod-box div{
        width: 350px;
    }
    section.home-box article {
        width: 350px;
    }
    section.home-box article div img{
        height: 380px;
    }
    article button.off-fixed{
        left: -20px;
    }
    /* section.notes div.display-tablet{
        display: flex;
    } */
    section.notes-img{
        flex-direction: row;
    }
    section.notes article{
        /* margin: 1.5rem; */
        width: 280px;
        height: 370px;
        /* width: 249px;
        height: 332px; */
    }
    section.notes a{
        font-size: 1.5rem;
    }
    div.eco-activism div p, div.eco-activism div h2{
        font-size: 1.4rem;
    }

}

@media(min-width: 771px){
    .items {
        display: flex;
        /* margin-left: 150px; */
    }
    .items li {
        margin: 0 10px
    }
    .burguer {
        display:none;
        
    }
    .logo {
        order: -1;
    }
    .heart, .shop {
        order: 1;
    }
    section.notes div.display-tablet{
        display: flex;
    }
    section.notes article{
        margin: 1.5rem;
    }
    section.icon-text{
        flex-direction: row;
        justify-content: space-around;
        padding: 0 2rem;
        margin-top:-30px;
    }
    section.icon-text div.container{
        width: 350px;
    }
    div.eco-activism div h2{
        font-size: 1.6rem;
    }
    div.eco-activism div p{
        font-size: 1.4rem;
    }
    section.home-box div.prod-box {
        flex-direction: row;
        justify-content: space-around;
        margin: 0 20px;
    }
    footer section.f-1 {
        flex-direction: row !important;
    }
    footer section.f-1 ul{
        margin-right: 50px;
    }
    footer section.f-2 {
        padding-left: 1.5rem;
    }
    
}

@media(min-width: 1024px){
    .search-icon input {
        display: flex;
    }
    .search-icon form button {
        background: rgb(239, 239, 239);
        border-radius: 0 5px 5px 0;
    }
    nav .user {
        display: block;
    }
    .items{
        margin-left: 150px;
    }
    footer section.f-1 ul{
        margin-right: 100px;
    }
    section.notes div.display-desktop{
        display: block;
    }
    section.notes article{
        margin-bottom: 2rem;
        margin: 1.5rem;
        /* width: 320px;
        height: 425px; */
        width: 260px;
        height: 346px;
    }
}

/*Solo para ver como queda... esta mal tantas media queries*/
@media(min-width: 1100px){
    section.notes article{
        width: 320px;
        height: 425px;
    }
    .letter {
        font-size: 26px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .price {
        font-size: 20px;
        padding-top: 40px;

    }
    .caja {
        width: 290px;
        height: 290px; }

    
}



@media screen and (min-width: 1000px){
    .grid-cajas {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .notfound-container{
        flex-direction: row;
        justify-content: space-between;
        
    }

    .img-error{
        width: 75%;
        justify-content: flex-end;
    }
    .msg-error{
        width: 25%;
    }

    .descrip{
        font-size: 16px;

    }
    .letter {
        font-size: 26px;
    }
    .price {
        font-size: 20px;
    }
    .caja {
        width: 290px;
        height: 290px;
     }
}

/* FOOTER FINALL //////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////*/

footer{
    
    background-color: #fafafa;
}

footer section.f-1{
    display: flex;
    /* padding: 20px 0 10px; */
    flex-direction: column;
    padding: 2rem 1.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1180px;
}
/* footer footer section.f-1{
    display: flex;
} */

footer section.f-1 ul{
    list-style: none;
}

section.f-1 ul h4{
    color: #535661;
    font-size: 15px;
    margin: 23px 0;
}

footer section.f-1 ul li{
    color: #535661;
    font-weight: normal;
    margin: 20px 0;
    font-size: 1rem;
    cursor: pointer;
}

/* section.f-1 ul li:hover{
    text-decoration: underline;
} */

section.f-1 ul li a{
    position: relative;
}
section.f-1 ul li a:hover{
    color: #000;
}

section.f-1 ul li a:after{
    content: "";
    position: absolute;
    background-color: #000;
    height: 1.5px;
    border-radius: 10px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: .3s;
}
section.f-1 ul li a:hover:after{
    color: #000;
    width: 100%;
}

footer section.f-1 ul li a{
    text-decoration: none;
    color: #535661;
}
footer section.f-1 ul li i{
    font-size: 1.2rem;
    margin-right: 10px;
    color: #000;
}
footer section.f-1 ul li a i span{
    margin-left: 5px;
}


footer section.f-2{
    display: flex;
}


footer section.f-2{
    width: 100%;
    border-top: 2px solid #e9e9ee;
    border-bottom: 2px solid #e9e9ee;
    padding: 1.8rem 0 2.5rem;
    font-size: 15px;
}

div.box-2 {
    margin-left: 1.5rem;
}

div.box-2 ul li{
    list-style: none;
    cursor: pointer;
}

/* div.box-2 ul li:hover{
    text-decoration: underline;
} */

div.box-2 img{
    width: 125px;
}

div.box-2 ul.list-3{
    display: flex;
    flex-wrap: wrap;
}

div.box-2 ul.list-3 li{
    list-style: none;
    color: #535661;
    margin-left: 14px;
    margin-right: 18px;
    font-size: 13.5px;
}

footer section.f-3{
    /* padding: 20px 0 10px; */
    padding: 2rem 1.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1180px;
}

section.f-3 div.payment{
    margin-right: auto;
    margin-left: auto;
}
    div.payment ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    div.payment ul li{
        list-style: none;
        margin-right: 1rem;
    }
    div.payment ul li img{
        height: 28px;
        border-radius: 4px;
    }

section.f-3 div.apps{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
    div.apps ul{
        display: flex;
        margin-left: 20px;
        flex-wrap: wrap;
    }
    div.apps ul li{
        list-style: none;
        margin-bottom: 1rem;
    }

section.f-3 div.apps img{
    max-height: 2.4rem;
    border-radius: 8px;
    /* border: 2px solid rgb(190, 189, 189); */
    cursor: pointer;
}

div.reserved {
    display: flex;
    justify-content: center;
}
div.reserved span{
    font-size: 12px;
    color: #9695A8;
}

/*DETAIL FINAL////////////////////////////////////*/

.cont-detail {
    display: flex;
    justify-content: space-between;
    border:#535661 solid 1px;
    width: 900px;
    height: 500px;
    margin: 50px;
    border-radius: 10px;
    background-color: white;
 
    overflow: hidden;
    
}
.colum1 {
    width: 450px;
    height: 500px;
    
}
.colum2 {
    width: 450px;
    height: 500px;
    padding-top: 10px;
}

.cont-sup {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;    
    margin: 0;
    padding: 0; 
    
    
}

.img-d {
    width: 440px;
    height: 500px;
    
}
.name-d {
    font-size:xx-large;
    margin: 20px 0px 20px; 
}


.price-d {
    color: green;
    font-size:x-large;
    padding-top: 30px;
}

.btn-detail1 {
    border-radius: 30px;
    background-color: #ddd;
    padding: 15px 32px;
    color: gray;
    text-decoration: none;
    margin: 10px;
    transition: 
        background-color, 0.5s,
        color, 0.5s;
}
.btn-detail2 {
    border-radius: 30px;
    background-color: #ddd;
    padding: 15px 32px;
    margin: 10px;
    color: grey;
    text-decoration: none;
    transition: 
        background-color, 0.5s,
        color, 0.5s;

}

.option {
   
    display: flex;
    padding-top: 30px;
    
}

.btn-detail1:hover {
    background-color:#21660c ;
    color: white;
}

.btn-detail2:hover {
    background-color: red ;
    color: white;
}
.off-d {
    font-size: x-small;
    color:#535661;
    text-decoration: none;
}
.off-d:hover {
    color: green;
}

.value-d {
    padding: 20px 0 0px 0;
}
.desc-d {
    font-size: small;
    color:#565a56;
    width: 350px;
}

.select {
    padding: 8px 12px;
    color: #333;
    background-color: #eeeeee;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
}
