* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* 
@font-face {
    font-family: 'Matter';
    src: local('Matter Medium'), local('Matter-Medium'),
        url('Matter-Medium.woff2') format('woff2'),
        url('Matter-Medium.woff') format('woff'),
        url('Matter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  } */

/**** HEADER ****/

header {
    background-color: rgb(204, 201, 201);
    height: 60px;
    opacity: 0.7;
    box-shadow: 0px 0px 4px rgb(100, 100, 100);
}

nav {
    padding: 8px 0 ;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    letter-spacing: .5px;
}

nav ul li {
    margin: 5px 0;
    padding: 0 5px;
}

nav .user {
    display: none;
}

nav ul li a {
    /* color: #000; */
    text-decoration: none;
}

nav ul li a.text-routes{
    /* color: #000; */
    color: rgb(75, 74, 74)
}

.logo {
    justify-content: center;
}

.logo img{
    width: 60px;
    border-radius: 50%;
    /* opacity: .9; */
}

.items {
   display: none;
}

.items a{
    position: relative;
}

.items a:hover{
    color:rgb(46, 124, 46);
    font-weight: 600;
}

.items a:after{
    content: "";
    position: absolute;
    background-color: rgb(72, 138, 72);
    height: 2px;
    border-radius: 10px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

.items a:hover:after{
    width: 100%;
}

.search-icon {
    height: 45px;
    width: 40px;
    display: flex;
    border-radius: 5px;
    padding: 0 10px;
}

.search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    /* background: rgb(243, 240, 240); */
    background: rgb(239, 239, 239);
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    display: none;
}


.search-icon .icon {
    line-height: 40px;
    border-radius:5px;
    color: rgb(75, 74, 74);
    cursor: pointer;
    padding-right: 7px;
    
    /* padding-top: 12px; */
}

.user, .heart, .shop {
    font-size: 17px;
}

.user a, .heart a, .shop a{
    color: rgb(75, 74, 74);
    opacity: .9;
}

.user a:hover, .heart a:hover, .shop a:hover{
    color:#21660c;
    cursor: pointer;
}

/**** HOME ****/
/*Mobile first reminder*/

main.home .home-text{
    font-weight: normal;
}

main.home{
    background-color: #ffffff;
}

main.home h2{
    padding: 2rem;
}

section.home-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

section.home-box div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
}
section.home-box img{
    margin-bottom: 10px;
}
section.home-box article {
    margin: auto;
    margin: 0 10px 0px;
    cursor: pointer;
    border-radius: 5px;
    width: 380px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

section.home-box article h3{
    margin: 10px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    color: rgb(78, 78, 78);
    text-align: center;
}
article ul {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

article ul li.prod-title{
    font-weight: 600;
    font-size: 15px;
    margin: 0 10px;
    color: rgb(56, 56, 56);
}
.product-price {
    font-weight: 600;
    color: #6aa757;  
    font-size: 1.2rem;
}
article ul li.prod-price-before{
    font-weight: 600;
    color: #6aa757;
    margin: 0 7px; 
    text-decoration: line-through;
    font-size: 1rem;
}

article ul li.prod-price-off{
    font-size: 14px;
    color: #6aa757;
    font-weight: 600;
    letter-spacing: .5;
}

article p{
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

article button.add-to-cart{
    margin: auto;
    background: #ffffff;
    border: 1.5px solid rgb(32, 32, 32);
    border-radius: 20px;
    padding: 8px 20px;
    transition: all .5s;
    font-weight: 600;
    cursor: pointer;
    margin-top: 8px;
    color: rgb(78, 78, 78);
    transition: all .7s ease-in-out;
}

article button.add-to-cart:hover{
    box-shadow: 0 0 0 3px rgb(224, 223, 223);
    border: 1.5px solid rgb(224, 223, 223);
}

article button.off-fixed{
    margin: auto;
    border: 1px solid #6aa757;
    /* border: 2px solid #21660c; */
    background-color: #6aa757;
    color: #fafafa;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 600;
    position: absolute;
    bottom: 350px;
    left: -15px;
    text-transform: uppercase;
}
/*MOBILE FIRST:
section.icon-text{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column
}
div.container{
    margin: 20px 0
}
*/


section.icon-text{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-bottom: 30px;
    align-items: center;
}

section.icon-text div.container{
    display: flex;
    max-width: 300px;
    align-items: center;
}

section.icon-text div.icon{
    max-width: 30px;
    justify-content: left;
    margin-right: 15px;
}
    div.icon span{
        font-size: 2rem;
        color: rgb(75, 74, 74);
        opacity: .9;
    }
section.icon-text div.text{
    display: flex;
    /* padding: 0 20px; */
}
section.icon-text ul{
    display: flex;
    list-style: none;
    flex-direction: column;
}
section.icon-text ul li{
    margin: 5px 10px;
}
section.icon-text .title{
    font-weight: 600;
}
/* section.icon-text span.title{
    display: flex;
} */

article button.gama{
    background: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 7px 20px;
    font-weight: 600;
    box-shadow: 0 0 10px #b5b8b1;
    color: rgb(78, 78, 78);
    cursor: pointer;
    font-size: 14px;
}

section.home-box article a.gama {
    position: absolute;
    bottom: 50px;
}

section.home-box article img{
    width: 350px;
    height: 380px;
    border-radius: 5px;
    object-fit: cover;
    transition:  all .5s;
}

/* article img#special{
    width: 200px;
} */
section.home-box article img:hover{
    box-shadow: 0px 0px 10px rgb(177, 176, 176);
    /* width: 325px;
    height: 325px; */
}

section.middle-home {
        /* padding: 2rem;
        display: flex;
        align-items: center; */
        width: 92%;
        border-radius: 10px;
        margin: auto;
        /* margin-top: 30px; */
        /* flex-wrap: wrap;
        justify-content: center; */
        background-color: #f7f4f4;
        /* height: 500px; */
    }
    div.eco-activism{
        padding: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* width: 92%;
        border-radius: 10px; */
        margin: auto;
        height: 400px;
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        /* background-color: #f7f4f4; */
    }
    div.eco-activism span.material-icons-outlined{
        font-size: 3rem;
        color: #588d48;
        margin-top: 2rem;
        padding-top: 2rem;
    }
    div.eco-activism div{
        font-size: 1.85rem;
        margin: 20px;
        padding: 2rem 3rem;
    }
    .eco-activism div span.gray{
        color: rgb(56, 56, 56);
    }
    .eco-activism div span.green{
        color: #6aa757
    }

    section.notes{
        display: flex;
        justify-content: center;
    }
    section.notes article{
        margin: auto;
        margin: 15px
    }
    section.notes img{
        width: 300px;
        border-radius: 10px;
    }


/**** FORMS ****/

.login-form{
    display: flex;
    justify-content: center;
    padding-top: 15px; 
}

.login-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iniciar-sesion, .crear-producto{
    margin: 50px 0 10px 0;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

.comunidad {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}

.comunidad a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.form-name, .form-pass, .form-btn-send, .form-cookie{
    margin: 20px;
    text-align: center;
}

.login-form input, .register-conteiner input{
    /* border: 0.5px solid rgb(72, 138, 72); */
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    border: 2px solid #f7f7f7;
    width: 320px;
    /* border:none; */
    padding: 14px;
    /* padding: 2rem; */
    background-color: #f7f7f7;
    transition: 500ms ease;  
}

 .login-form input:hover, .login-form input:focus{
    border: 2px solid #000;
}

/* .login-form input{
    border: 0.5px solid rgb(72, 138, 72);
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    padding: 9px;
    background-color: #ffffff;
}

.login-form input:focus{
    border: 1.7px solid rgb(32, 105, 32);
} */


/******* 
CREATE FORM
********/

div.back-create-form{
    background: url('/img/back/eco-art1.png') no-repeat center center/cover;
    margin-top: 10px;   
}

.create-form{
    margin: auto;
    border: 1px solid rgb(32, 105, 32);
    width: 90%;
    padding: 10px 0 50px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.create-form h3{
    text-align: center;
    margin: 20px 0 30px;
}

.create-form div{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.create-form div.labels{
    margin-bottom: 15px;
}

.create-form div label{
    font-weight: normal;
}

.create-form textarea{
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    border: 2px solid #f1f1f1;
    padding: 14px;
    background-color: #f7f7f7;
    height: 150px;
    width: 70%;
    max-width: 600px;
    transition: .5s ease;
}

/* .create-form input, .create-form select{
    border: 0.5px solid rgb(72, 138, 72);
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    padding: 9px;
    width: 70%;
    max-width: 500px;
    transition: .5s ease;
} */
.create-form input, .create-form select{
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    border: 2px solid #f1f1f1;
    width: 320px;
    padding: 16px;
    background-color: #f7f7f7;
    transition: .5s ease;
}

.create-form input:hover, .create-form select:hover, .create-form textarea:hover{
    border: 2px solid #000; 
}

.create-form input:focus, .create-form select:focus, .create-form textarea:focus{
    border: 2px solid #000; 
}

.form-btn-send button.create-prod{
    /* border: 2px solid #818890; */
    border: none;
    border-radius: 100px;
    /* width: 100%; */
    width: 320px;
    /* background: rgb(72, 138, 72); */
    background: #538d42;
    padding: 15px 10px;
    color: #ffffff;
    cursor: pointer;
}

.form-btn-send{
    border: 2px solid #fff;
    border-radius: 100px;
    width: 335px;
    transition: 200ms ease-in-out;
    padding: 3.5px 0;
    margin: auto;
}

.form-btn-send button{
    /* border: 2px solid #818890; */
    border: none;
    border-radius: 100px;
    /* width: 100%; */
    width: 320px;
    /* background: rgb(72, 138, 72); */
    background: #538d42;
    padding: 15px 10px;
    color: #ffffff;
    cursor: pointer;
}

.form-btn-send:hover{
    /* border: 2px solid #818890; */
    border: 2px solid #6aa757;
   }

hr {
    width: 98%;
    margin: auto
}

/*****************************************/
  /*CARRITO DE COMPRAS*/
/*****************************************/
.shopping-card-conteiner{
    width: 100%;    
}

.shopping-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.title{
    text-align: center;
}

.imagen-producto{
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.product-img{    
    margin-right: 7px;
    margin-left: 10px;
    box-shadow: 2px 2px 10px rgb(56, 56, 56);
}

.product-description{
    width: 30%;
}
.product-description p{
    display: none;
}
.product-cant{
    display: flex;    
    align-items: center;
    
}
.product-cant i{
    
    font-size: 0.7rem;
    color: green;
    margin: 0px 7px;
}
#cantidad{
    width: 30px; 
    height: 30px;   
    text-align: center;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

.cart-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}

.product-subtotal{
    margin-left: 25px;
}

.product-delete i{
    color:red;
    font-size: 1rem;
    margin:15px;
    
}
.footer-cart{
    display: flex;
    justify-content: space-around;
}

.total{
    margin: 20px 80px ;
}

.forma-pago{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}
.forma-pago i{
    font-size: 1rem;    
    color: rgb(37, 35, 35);
    margin-top: 1.5rem;
}
.opciones{
    display: flex;    

}
.opciones button{
    margin: 10px 5px;
}
.btn-continue{
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.btn-end{
    background-color: green;
    color: white;
    height: 30px;
    border-radius: 7px;
    border: none;
}

.btn-end:hover{
    box-shadow: 3px 3px 10px rgb(37, 35, 35);
}
/***********************************************************
    End shooping cart
*/


/*BANNER HOME*/

.banner {
    position: relative;
    width: 100%;
    background-image: url('/img/back/natural-product.jpg');
    height: 500px;
    margin: 3px 0;
    background-size: cover;
    animation: banner 28s infinite linear;
    /* transition: banner 2000ms */
    opacity: 0.92;
}

.banner-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 20, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px;
}

.banner-content a {
    text-decoration: none;
    color: #fff;
    padding: 9px 20px;
    border: 2px solid #fff;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.banner-content a:hover {
    background-color: rgb(241, 239, 239);
    color: #333;
}

/* @keyframes banner {
    0%{
        background-image: url('/img/back/natural-product.jpg');
    }
    25%{
        background-image: url('/img/back/natural-product.jpg');
    }
    26%{
        background-image: url('/img/back/natural-product1.jpg');
    }
    50%{
        background-image: url('/img/back/natural-product1.jpg');
    }
    51%{
        background-image: url('/img/back/natural-product2.jpg');
    }
    75%{
        background-image: url('/img/back/natural-product2.jpg');
    }
    76%{
        background-image: url('/img/back/natural-product3.jpg');
    }
    100%{
        background-image: url('/img/back/natural-product3.jpg');
    }
} */


/*descrip produ /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////*/
.grid-cajas {
    display: flex;
    background-color: whitesmoke;
    width: 100vw;
    /* justify-content: auto; */
}

/* .fas {
    color: grey; 
    /* margin-left: 9px;
 
} */

.art {
    display: inline-block;
    width: 390px;
    height: 500px;
}

.caja {
    display: flex;
    width: 350px;
    height: 350px;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
}

.caja img {
    width: 100%;
    height: 100%;
}

.letter {
    /* font-family: "Roboto", "sans-serif"; */
    color: green;
    font-size: 20px;
    text-align: center;
}

.encabezadoProdu{
    display: flex;
    /* font-family: "Roboto", "sans-serif"; */
    font-size: 25px;
    color: green;
    text-align: center;
    justify-content: center;
}

.descrip {
    /* font-family: 'Franklin Gothic Medium'; */
    color: #b5b8b1;
    text-align: center;
    width: 50x;
    height: 30px;
}

.price {
    /* font-family: 'Roboto', serif; */
    color: grey;
    text-align: center;
}

.holi {
    display: flex;
    align-self: center;
    size: 35px;
    margin-top: 15px whitesmoke;
    background-color: whitesmoke;
    color: black
}

.more {
    display: flex;
    font-size: 12px;
    align-items: center;
    /* font-family: "Roboto", "sans-serif"; */
    justify-content: center;
    background-color: whitesmoke;
    margin-bottom: 20px whitesmoke;
    color: grey;
}

.produ {
    /* font-family: 'Roboto', 'sans-serif'; */
    font-size: 30px ;
    color: grey;
    background-color: #f5f5f5;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 20px;
    text-align: center;
}

/********************************************************************
*** Not found page Styles
------------------------------------------------------------------*/
.notfound-container{
    width: 90vw;
    margin:15px 25px;
    border-bottom: 1px brown solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-error{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-error img {
    width: 80%;
    
}
.msg-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.msg-error p {
    color:rgb(63, 63, 63);
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
}

/*End not found style*/


/********************************************************************
--------------------------------------------------------------------
Form Register Styles
------------------------------------------------------------------*/
.register-conteiner{    
    
    display: flex;
    flex-direction: column;        
    align-items: center;
    justify-content: center;
    width: 90vw;   
    padding: 20px;
    /* box-shadow: 2px 2px 10px rgba(0,0,0,.4); 
    border-radius: 10px;*/
    
    margin: auto;
    margin-top: 2rem;
    background-color: white;

    border-bottom: 1px rgb(63, 63, 63) solid;

}
.input-form{
    display: flex;
    justify-content: center;
    align-items: center;     
    
}


.input-form input {   /*[type=text],input[type=password]{ */
    width: 100%; 
    height: 39px;    
    border-radius: 0px 5px 4px 0px/5px 5px 5px 4px; 
    background-color: #fff;  
    box-shadow: 1px 2px 7px rgba(0,0,0,.4); 
    border: solid 1px #cbc9c9;
    outline: none;
    margin-left: -5px;
    margin-top: 13px; 
    padding-left: 5px;
  }

  #tel-codigo-area{
      width: 25%;
      
  }

 .label-icon i{   
  
    width: 40px;   
    text-align: center;
    background-color: #565a56;
    padding: 8px 10px;
    margin-left: 7px; 
    margin-top: 13px; 
    border-radius: 4px 0px 0px 4px;
    color: white; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
    
  }
.aviso-iniciasesion{
    margin-top: 10px;
    text-align: center;

}
.btn-opciones{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
}
.btn-aceptar{
    background: rgb(98,181,163);
    background: linear-gradient(90deg, rgba(98,181,163,1) 0%, rgb(80, 102, 176) 25%, rgba(86,177,153,1) 61%, rgb(70, 150, 18) 100%);
    
    height: 2rem;
    width: 100%;
}

.btn-cancelar{
    background-color: rgb(156, 27, 27);    
    font-size: 0.7rem;
    height: 1.5rem;
    width: 4rem;
}

.btn-aceptar, 
.btn-cancelar {
    color: white;
    border:none;
    
    border-radius: 5px;
    box-shadow: 2px 2px 7px grey;
}
/********************************************************
End Register Form
*/


 /* RESPONSIVE //////////////////////////////////////////////////
 ///////////////////////////////////////////////////////////////*/
 @media(min-width: 380px){
    .login-form input{
        width: 320px
    }
}

@media(min-width: 620px){
    .create-form{
        width: 50%;
    }
}

@media(min-width: 771px){
    .items {
        display: flex;
        /* margin-left: 150px; */
    }
    .items li {
        margin: 0 10px
    }
    .burger {
        display: none;
    }
    .logo {
        order: -1;
    }
    .heart, .shop {
        order: 1;
    }
    section.home-box, section.home-box div {
        flex-direction: row;
    }
}

@media(min-width: 1000px){
    .search-icon input {
        display: flex;
    }
    .search-icon .icon {
        background: rgb(239, 239, 239);
        border-radius: 0 5px 5px 0;
    }
    nav .user {
        display: block;
    }
    .items{
        margin-left: 150px;
    }
}


 
@media screen and (max-width: 550px){
    .grid-cajas {
        display: flex;
        flex-direction: column;
    }
    .caja {
        width: 300px;
        height: 300px;
    }
    .art {
        padding-left: 75px;
    }
    .letter {
        padding-top: 8px;
        padding-bottom: 5px;
    }
    .descrip {
        padding-top: 3px;
        padding-bottom: 8px;

    }

    .price {
        size: 50px;
        padding-top: 40px;
        padding-bottom: 5px;
    }
  }

@media screen and (min-width: 550px){
  .grid-cajas {
      display: flex;
      flex-direction: column;
  }
  .caja {
      width: 300px;
      height: 300px;
  }
}

@media screen and (min-width: 551px){
    .grid-cajas {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .art {
        padding-left: 80px;
    }

    .descrip{
        font-size: 16px;
        padding-bottom: 5px;

    }
    .letter {
        font-size: 26px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .price {
        font-size: 20px;
        padding-top: 40px;

    }
    .caja {
        width: 290px;
        height: 290px; }

    .move {
        display: inline-block;
        margin-left: 20px;
        margin-right: 40px;
        height: 35px;
    }

    .text-sabermas {
        text-align: justify;
        font-size: small;
        padding-top: 18px;

    }

    .tsm {
        font-size: small;
        padding-bottom: 10px;
    }

    .tsm2 {
        font-size: small;
        padding-bottom: 10px;
    }
    .copy {
        font-size: small;
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
    }
  
}

/* responsive footer codigo /////////////////////////
//////////////////////////////////////////*/
@media screen and (min-width: 900) {
.tsm {
    font-size: 25px;
}
.tsm2 {
    font-size: 22px;
}
.text-sabermas {
    font-size: 25px;
}
}


@media screen and (max-width: 600) {
  .tsm { font-size: 19px;
  }
  .tsm2{
      font-size: 17px;
  }
  .text-sabermas {
      font-size: 22px;
  }
}



@media screen and (min-width: 1000px){
    .grid-cajas {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .notfound-container{
        flex-direction: row;
        justify-content: space-between;
        
    }

    .img-error{
        width: 75%;
        justify-content: flex-end;
    }
    .msg-error{
        width: 25%;
    }

    .descrip{
        font-size: 16px;

    }
    .letter {
        font-size: 26px;
    }
    .price {
        font-size: 20px;
    }
    .caja {
        width: 290px;
        height: 290px; }

    .move {
        display: inline-block;
        margin-left: 40px;
        margin-right: 80px;
        height: 100px;
    }

    .text-sabermas {
        text-align: justify;
        font-size: x-large;

    }

    .tsm {
        font-size: small;
        padding-bottom: 10px;
    }

    .tsm2 {
        font-size: small;
        padding-bottom: 10px;
    }
    .copy {
        font-size: small;
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
    }
}

/* FOOTER FINALL //////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



.pie-pag {
    width: 100%;
    background-color:  #3d3d33;
}

.pie-pag .group {
    width: 100%;
    height: 280px;
    max-width: 1100px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px; */
    padding: 20px 0px;
}

.pie-pag .group .box figure {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content:  center;
    align-items:center; */
}

.pie-pag .group .box img {
    width: 200px;
}

.pie-pag .group  h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    

}

.pie-pag .group .box p a{
    color: #efefef;
    margin-bottom: 5px;
    text-decoration: none;
    line-height: 35px;
    transition: all 300ms ease;
    }

.pie-pag .group .box p a:hover {
        color: rgb(102, 91, 91);
    }
.box {
    padding-top: 40px;
}
.pie-pag .group .social-media a{
    display: inline-block;
    text-decoration:  none;
    width: 60px;
    height: 60px;
    line-height: 45px;
    color: #fff;
    text-align: justify;
    transition: all 300ms ease;
}

.pie-pag .group .social-media a:hover {
    color:  rgb(102, 91, 91);
}

.pie-pag .hola {
    background-color:  rgb(204, 201, 201);
    padding: 15px 10px;
    color: #3d3d33;
    text-align:center
}

.pie-pag .hola small{
    font-size: 15px;
}

@media screen and (max-width: 800px) {
   .pie-pag .group { 
    width: 90%;
    height: 15%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
   padding: 0;
}
    .pie-pag .group .social-media a {
    padding-bottom: 5px;
}
    .logo {
    display: none;
}

    .pie-pag .group .box p a{ 
    padding-bottom: 20
}
}