<body>

    <footer>
<section class="f-1">
            <!-- <div class="box"> -->
            <ul>
                <h4>Sobre Nosotros</h4>
                <li><a>Quiénes somos</a></li>
                <li><a>Responsabilidad social</a></li>
                <li><a>Programas de asociados</a></li>
                <li><a>Afiliados</a></li>
                <li><a>Vende eco</a></li>
                <li><a>Empleo</a></li>
            </ul>
        <!-- </div> -->
        <!-- <div class="box"> -->
            <ul>
                <h4>Ayuda</h4>
                <li><a>Envíos</a></li>
                <li><a>Devoluciones</a></li>
                <li><a>Centros de ayuda</a></li>
                <li><a>Normas de la comunidad</a></li>
                <li><a>Centro para inversores</a></li>
                <li><a>Contacto</a></li>
            </ul>
        <!-- </div> -->
        <!-- <div class="box"> -->
            <ul>
            <h4>Planeta</h4>
                <li><a>Misión 2050</a></li>
                <li><a>Cero emisiones</a></li>
                <li><a>Plastic-less</a></li>
                <li><a>Green way</a></li>
                <li><a>Centros de reciclaje</a></li>
            </ul>
        <!-- </div> -->
        <!-- <div class="box"> -->
            <ul>
                <h4>Síguenos</h4>
                <li>
                    <i class="fab fa-facebook-f"></i>
                <a href="#"> 
                  Facebook 
                </a>
            </li>
            <li>
                <i class="fab fa-instagram"></i>
                <a href="#">
                    Instagram
                </a>
            </li>
            <li>
                <i class="fab fa-twitter"></i>
                <a href="#">
                    Twitter
                </a>
            </li>
            <li>
                <i class="fab fa-pinterest"></i>
                <a href="#">
                    Pinterest
                </a>
            </li>
            <li>
                <i class="fab fa-github"></i>
                <a href="https://github.com/jbresky/ecodev">
                    Github
                </a>
            </li>
        </ul>
        <!-- </div> -->
    </section>
<section class="f-2">
        <div class="box-2">
            <ul class="eco-logo">
                <li>
                    <a href="/"><img src="/img/back/eco-logo-3.png" alt=""></a>
                </li>
            </ul>
            <ul class="list-3">
                <li><a>Condiciones de uso</a></li>
                <li><a>Política de privacidad</a></li>
                <li><a>Política de cookies</a></li>
            </ul>
        </div>
    </section>
   
    <section class="f-3">
        <div class="payment">
            <ul>
                <li>
                    <img src="/img/back/visa.png" alt="">
                </li>
                <li>
                    <img src="/img/back/mastercard.png" alt="">
                </li>
                <li>
                    <img src="/img/back/amex.png" alt="">
                </li>
                <li>
                    <img src="/img/back/paypal.png" alt="">
                </li>
                <li>
                    <img src="/img/back/pay.png" alt="">
                </li>
                <li>
                    <img src="/img/back/ipay.png" alt="">
                </li>
                <li>
                    <img src="/img/back/afterpay.png" alt="">
                </li>
            </ul>
        </div>
        <div class="apps">
           
                <ul>
                    <li><img src="/img/back/appstore2.png" alt=""></li>
                    <li><img src="/img/back/googleplay2.png" alt=""></li>
                </ul>
           
        </div>
        <div class="reserved">
            <span>&copy; Ecodev. Todos los derechos reservados</span>
        </div>
    </section>
    </footer>




    <!-- <footer class="pie-pag">
        <div class="group">
            <div class="box1">
                <figure>
                    <a href="#">
                        <img src="../img/back/Logo-v2.ico" alt="Logo" class="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p><a href="#">Medios de Pago & Devoluciones</a></p>
                <p><a href="#">Productos</a></p>
                <p><a href="#">Contacto</a></p>
                <p><a href="#">Ayuda</a></p>
                
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="social-media">
                    <a href="#"> <i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="hola">
            <small>&copy; 2021 <b>Ecodev</b>  - Todos los derechos reservados</small>
        </div>
    </footer> -->
    
</body>
</html>