<body>

    <footer>
<section class="f-1">
            <!-- <div class="box"> -->
            <ul>
                <h4>Sobre Nosotros</h4>
                <li>Quiénes somos</li>
                <li>Responsabilidad social</li>
                <li>Programas de asociados</li>
                <li>Afiliados</li>
                <li>Vende eco</li>
                <li>Empleo</li>
            </ul>
        <!-- </div> -->
        <!-- <div class="box"> -->
            <ul>
                <h4>Ayuda</h4>
                <li>Envíos</li>
                <li>Devoluciones</li>
                <li>Centros de ayuda</li>
                <li>Normas de la comunidad</li>
                <li>Centro para inversores</li>
                <li>Contacto</li>
            </ul>
        <!-- </div> -->
        <!-- <div class="box"> -->
            <ul>
            <h4>Planeta</h4>
                <li>Misión 2050</li>
                <li>Cero emisiones</li>
                <li>Plastic-less</li>
                <li>Green way</li>
                <li>Centros de reciclaje</li>
            </ul>
        <!-- </div> -->
        <!-- <div class="box"> -->
            <ul>
                <h4>Síguenos</h4>
                <li>
                <a href="#"> <i class="fab fa-facebook-f"></i>
                  <span>Facebook</span> 
                </a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
            </li>
            <!-- <li>
                <a href="#"><i class="fab fa-tumblr"></i>
                    <span>Tumblr</span>
                    </a>
            </li> -->
            <li>
                <a href="#"><i class="fab fa-pinterest"></i>Pinterest</a>
            </li>
            <li>
                <a href="#"><i class="fab fa-github"></i>Github</a>
            </li>
        </ul>
        <!-- </div> -->
    </section>
<section class="f-2">
        <div class="box-2">
            <ul class="eco-logo">
                <li>
                    <a href="/"><img src="/img/back/eco-logo-3.png" alt=""></a>
                </li>
            </ul>
            <ul class="list-3">
                <li>Condiciones de uso</li>
                <li>Politica de privacidad</li>
                <li>Política de cookies</li>
            </ul>
        </div>
    </section>
   
    <section class="f-3">
        <div class="payment">
            <ul>
                <li>
                    <img src="/img/back/visa.png" alt="">
                </li>
                <li>
                    <img src="/img/back/mastercard.png" alt="">
                </li>
                <li>
                    <img src="/img/back/amex.png" alt="">
                </li>
                <li>
                    <img src="/img/back/paypal.png" alt="">
                </li>
                <li>
                    <img src="/img/back/pay.png" alt="">
                </li>
                <li>
                    <img src="/img/back/ipay.png" alt="">
                </li>
                <li>
                    <img src="/img/back/afterpay.png" alt="">
                </li>
            </ul>
        </div>
        <div class="apps">
           
                <ul>
                    <li><img src="/img/back/appstore2.png" alt=""></li>
                    <li><img src="/img/back/googleplay2.png" alt=""></li>
                </ul>
           
        </div>
        <div class="reserved">
            <span>&copy; Ecodev. Todos los derechos reservados</span>
        </div>
    </section>
    </footer>




    <!-- <footer class="pie-pag">
        <div class="group">
            <div class="box1">
                <figure>
                    <a href="#">
                        <img src="../img/back/Logo-v2.ico" alt="Logo" class="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p><a href="#">Medios de Pago & Devoluciones</a></p>
                <p><a href="#">Productos</a></p>
                <p><a href="#">Contacto</a></p>
                <p><a href="#">Ayuda</a></p>
                
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="social-media">
                    <a href="#"> <i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="hola">
            <small>&copy; 2021 <b>Ecodev</b>  - Todos los derechos reservados</small>
        </div>
    </footer> -->
    
</body>
</html>