<body>
    <footer class="pie-pag">
        <div class="group">
            <div class="box1">
                <figure>
                    <a href="#">
                        <img src="../img/back/Logo-v2.ico" alt="Logo" class="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p><a href="#">Medios de Pago & Devoluciones</a></p>
                <p><a href="#">Productos</a></p>
                <p><a href="#">Contacto</a></p>
                <p><a href="#">Ayuda</a></p>
                
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="social-media">
                    <a href="#"> <i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="hola">
            <small>&copy; 2021 <b>Ecodev</b>  - Todos los derechos reservados</small>
        </div>
    </footer>
    
</body>
</html>