<header class="main-header"></header>
<nav class="header-navbar">
    <ul>
        <li class="burguer">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </li>
        <div class="search-icon">
            <form action="/products/search" method="GET">
                <input type="search" name="product" placeholder="Search">
                <button type="submit" class="fas fa-search"></button>
            </form>
        </div>
        <li class="logo">
            <a href="/">
                <img src="/img/back/Logo-v2.ico">
            </a>
        </li>
        <div class="items">
            <li><a class="text-routes" href='/products'>Productos</a></li>
            <li><a class="text-routes" href=#>Nosotros</a></li>
            <li><a class="text-routes" href=#>Medioambiente</a></li>
            <li><a class="text-routes" href='/users/register'>Únete</a></li>
        </div>

        <!-- <div class="header-icons"> -->
        <li class="heart"><a href='/users/favorites'><span class="material-icons-outlined">favorite_border</span></a>
        </li>
        <li class="shop"><a href='/api/product/'><span class="material-icons-outlined">shopping_cart</span></a></li>
        <% if(locals.isLogged) { %> 
                <li class="user"><a href='/users/login'><img src="/img/users/<%= userData.avatar %> " width="40" style="border-radius: 50%; height: 40px; object-fit: cover;" alt="User"></a></li>
           <% } else { %> 
           <li class="user"><a href='/users/login'><span class="material-icons-outlined">
            account_circle
        </span></a></li>
        <% } %> 
    <!-- </div> -->
    </ul>
    <script src="js/script.js"></script>
</nav>