<header class="main-header"></header>
    <nav>
        <ul>
            <li class="burger"><span class="fas fa-bars"></span></li>
            <div class="search-icon">
                <input type="search" placeholder="Search">
                <label class="icon">
                    <span class="fas fa-search"></span>
                </label>
            </div>
            <li class="logo">
                <a href="/">
                <img src="/img/back/Logo-v2.ico">
            </a>
            </li>
            <div class="items">
                <li><a class="text-routes" href='/products'>Productos</a></li>
                <li><a class="text-routes" href=#>Nosotros</a></li>
                <li><a class="text-routes" href=#>Medioambiente</a></li>
                <li><a class="text-routes" href='/users/register'>Únete</a></li>
            </div>
            
                <li class="heart"><a href='/users/favorites'><span class="material-icons-outlined">favorite_border</span></span></li></a>
                <li class="shop"><a href='/products/cart'><span class="material-icons-outlined">shopping_cart</span></a></li>
            <li class="user"><a href='/users/login'><span class="material-icons-outlined">
                account_circle
                </span></span></a></li>
        </ul>
    </nav>