<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>
    <hr>
    
    <div class="shopping-card-conteiner">

    
    <section class="shopping-cart">
        <div class="title">

            <h3>Carrito de Compras</h3>
            <p>Cant. Productos: 1 </p>
        </div>
        <hr>
        <div class="cart-details">
            <div class="product-img">
                <img class="imagen-producto" src="/img/product1.jpeg" alt="Producto1">
            </div>
            <div class="product-description">
                <h5>Nombre de Producto</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, eaque odio commodi ducimus praesentium corporis.</p>
                <strong> $1500.50</strong>

            </div>
            <div class="product-cant">
                <a href="#"><i class="fas fa-minus"></i></a>
                <input type="number" min="1" name="cantidad" id="cantidad" value="1" />
                <a href="#"><i class="fas fa-plus"></i></a>
            </div>
            <div class="product-subtotal">
                <h4>$1500.00</h4>
            </div>
            <div class="product-delete">
                <a href="#"><i class="fas fa-trash-alt"></i></a>
            </div>
            
        </div>
        <hr>
     
        
    </section>
    

    <section class="footer-cart">
        <div class="forma-pago">
            <h3>Forma de Pago</h3>
            <i class="far fa-money-bill-alt"></i>
            <p>Efectivo o Transferencia bancaria</p>
            <i class="fas fa-credit-card"></i>
            <p>Tarjeta de Crédito</p>
            <p>Cuotas sin interés</p>
        </div>
        <div class="total">
            <h3>Subtotal</h3>           

            <div class="opciones">
                <button class="btn-continue">Seguir comprando</button>
                <button class="btn-end">Finalizar Compra</button>
               
            </div>

        </div>
    </section>
</div>
<%- include('../partials/footer') %> 
</body>
</html>
