<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header')%>
    
        <hr>

        <div class="form-header">
        <h3 class='title-form'>Inciar sesión</h3>
        <h4 class='comunidad'>¿Aún no tienes una cuenta? <a href="/users/register">Unite a la comunidad</a></h4>
      </div>

      <% if(typeof errors != 'undefined'){ %> 
      <div class="login-error">
        <p>ERROR</p>
           <span>
             Credenciales inválidas
           </span>
        </div>
     <% } %>
        <main class="login-form">
            <form action="/users/login" method="POST">
              <div class="input-form">
              <input type="email" name="email" placeholder="Email" id="inputEmail">
              <span class="valid-register" id="email-login"></span>
            </div>

            <div class="input-form">
              <input type="password" name="password" placeholder="Contraseña" id="inputPassword">
              <span class="valid-register" id="password-login"></span>
            </div>

            <div class="form-cookie">
              <div>
              <label class="remb" for="remb">Recordar</label>
              <input type="checkbox" id="remb" name="remember">
            </div>
              <label><a href="">¿Has olvidado tu contraseña?</a></label>
            </div>
            <br>
            <div class="form-btn-send">
              <button type="submit">Ingresar</button>
            </div>
            </form>
           
          </main>

          <div style="height: 6rem;"></div>
       
          <%- include('../partials/footer') %> 

    </body>

</html>