<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header')%>
    
        <hr>
        
        <% if (typeof errors != 'undefined') { %>
         <ul>
           <% for(error of errors) { %> 
            <%= error.msg %> 
            <% } %> 
         </ul>
        <% } %>

          <h3 class='iniciar-sesion'>Inciar sesión</h3>
        <h4 class='comunidad'>¿Aún no tienes una cuenta? <a href="/users/register">Unite a la comunidad</a></h4>
        <main class="login-form">
            <form>
              <div class="form-name">
              <input type="email" name="email" placeholder="Email">
            </div>

            <div class="form-pass">
              
              <input type="password" name="password" placeholder="Contraseña">
            </div>

            <div class="form-cookie">
              <label for="remb">Recordame</label>
              <input type="checkbox" id="remb" name="remember" style="max-width: 100px; height: 11px;">
            </div>

            <br>
            <div class="form-btn-send">
              <button type="submit">Ingresar</button>
            </div>
            </form>
           
          </main>
       
          <footer>

          </footer>

    </body>

</html>