<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header')%>
    
        <hr>
        
        <% if (typeof errors != 'undefined') { %>
          <p style="color: red">ERROR</p>
         <ul>
           <% for(error of errors) { %> 
            <li><%= error.msg %></li> 
            <% } %> 
         </ul>
        <% } %>

        <div class="form-header">
        <h3 class='title-form'>Inciar sesión</h3>
        <h4 class='comunidad'>¿Aún no tienes una cuenta? <a href="/users/register">Unite a la comunidad</a></h4>
      </div>
        <main class="login-form">
            <form action="/users/login" method="POST">
              <div class="form-email">
              <input type="email" name="email" placeholder="Email">
              <br>
              <span>Escribí tu email</span>
            </div>

            <div class="form-pass">
              
              <input type="password" name="password" placeholder="Contraseña">
            </div>

            <div class="form-cookie">
              <div>
              <label class="remb" for="remb">Recordar</label>
              <input type="checkbox" id="remb" name="remember">
            </div>
              <label><a href="">¿Has olvidado tu contraseña?</a></label>
            </div>
            <br>
            <div class="form-btn-send">
              <button type="submit">Ingresar</button>
            </div>
            </form>
           
          </main>

          <div style="height: 6rem;"></div>
       
          <%- include('../partials/footer') %> 

    </body>

</html>