<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body style="background-color: #f9f9fb">
        <%- include('../partials/header') %>
            <hr>

            <% if(typeof errors != 'undefined'){ %> 
                <div class="login-error">
                  <p>ERROR</p>
                     <span>
                       Contraseña incorrecta
                     </span>
                  </div>
               <% } %>
            <main class="user-settings">
                
                <form action="/users/password?_method=PUT" method="POST" id="edit-password">
                    <section class="avatar-form">
                        <fieldset>
                            <div>
                                <h1 class="perfil">Cambiar contraseña</h1>
                            
                                    <div class="user-data">
                                        <div class="user_first_name">
                                            <label for="password">Contraseña actual</label>
                                            <input name="oldPassword" type="password" value="" id="oldPassword">
                                        </div>
                                        <span class="valid-edit" id="password-edit"></span>
                                        <div class="user_last_name">
                                            <label for="password">Nueva contraseña</label>
                                            <input name="password" type="password" value="" id="newPassword">
                                        </div>
                                        <span class="valid-edit" id="newPassword-edit"></span>
                                    </div>

                            </div>
                        </fieldset>
                        <div class="button-container">
                            <button type="submit" style="padding: 12px 32px; width: auto;">Cambiar contraseña</button>
                        </div>
                    </section>
                    
                </form>
                <section class="user-nav-menu">
                    <nav>
                        <h3>Configuración de la cuenta</h3>
                        <ul>
                            <li><h4><a href="/users/edit" style="color: #8c95a5;">Editar perfil</a></h4></li>
                            <li><h4><a href="/users/edit/password" style="color: #40354e; border-bottom: 2px solid #53a841">Cambiar contraseña</a></h4></li>
                            <li><h4><a href="/users/edit/cancel" style="color: #8c95a5;">Cancelar cuenta</a></h4></li>
                        </ul>
                    </nav>
                </section>
            </main>

            <div class="reserved" style="height:50px; border-top: 1px solid #e9e9ee">
                <span>&copy; Ecodev. Todos los derechos reservados</span>
            </div>
    </body>

</html>