<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <hr>
<div class="form-header">
    <h3 class="title-form">Nuevo Usuario</h3>
    <h3 class="comunidad">¿Ya tienes una cuenta? <a href="/users/login">Inicia Sesión</a></h3>
</div>
    <main class="register-container">
        <form action="/users/register" method="POST">
            <div class="input-form">
                <label class="label-icon" for="first_name">
                    <!-- <i class="fas fa-id-card"></i> -->
                </label>

                <input type="text" name="first_name" id="first_name" placeholder="Nombre" required />
            </div>

            <div class="input-form">
                <label class="label-icon" for="last_name">
                    <!-- <i class="fas fa-id-card"></i> -->
                </label>

                <input type="text" name="last_name" id="last_name" placeholder="Apellido" required />
            </div>

            <div class="input-form">
                <label class="label-icon" for="country">
                    <!-- <i <i class="fas fa-city"></i> -->
                </label>

                <!-- <input type="text-area" name="country" id="country" placeholder="Pais" required /> -->
                <select name="country" id="country">
                    <option style="color: gray" disabled selected>País</option>
                </select>
            </div>

            <div class="input-form">
                <label class="label-icon" for="province">
                    <!-- <i <i class="fas fa-city"></i> -->
                </label>

                <input type="text-area" name="province" id="province" placeholder="Ciudad" required />
            </div>

            <div class="input-form">
                <label class="label-icon" for="address">
                    <!-- <i class="fas fa-map-marker-alt"></i> -->
                </label>

                <input type="text" name="address" id="address" placeholder="Dirección" required />
            </div>


            <div class="input-form">
                <label class="label-icon" for="email">
                    <!-- <i class="fas fa-envelope"></i> -->
                </label>
                <input type="email" name="email" id="email" placeholder="Email" required />
            </div>

            <div class="input-form">                

                <label class="label-icon" for="phone">
                    <!-- <i class="fas fa-phone-alt"></i> -->
                </label>
                <input type="text" name="phone" id="phone" placeholder="Telefono" />
            </div>

            <div class="input-form">                
                    <!-- <i class="fas fa-phone-alt"></i> -->
                </label>
                <input type="file" name="avatar" id="avatar" placeholder="Avatar" />
            </div>

            <div class="input-form">
                <label class="label-icon" for="password">
                    <!-- <i class="fas fa-lock"></i> -->
                </label>
                <input type="password" name="password" id="password" placeholder="Contraseña" required />
            </div>
            <div class="input-form">
                <label class="label-icon" for="password1">
                    <!-- <i class="fas fa-lock"></i> -->
                </label>
                <input type="password" name="password1" id="password1" placeholder=" Repetir Contraseña" required />
            </div>           
          
            <div class="form-btn-send">
                <button type="submit">Crear cuenta</button>
            </div>

            
        </form>
        
    </main>
    <div style="height: 6rem;"></div>
    <%- include('../partials/footer') %> 
</body>
</html>