<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
<hr>
    <main class="register-conteiner">
        <h2>Nuevo Usuario</h2>

        <form>
            <div class="input-form">
                <label class="label-icon" for="nombre">
                    <i class="fas fa-id-card"></i>
                </label>

                <input type="text" name="nombre" id="nombre" placeholder="Nombre Completo" required />
            </div>

            <div class="input-form">
                <label class="label-icon" for="direccion">
                    <i class="fas fa-map-marker-alt"></i>
                </label>

                <input type="text" name="direccion" id="direccion" placeholder="Dirección" required />
            </div>

            <div class="input-form">
                <label class="label-icon" for="ciudad">
                    <i <i class="fas fa-city"></i>
                </label>

                <input type="text-area" name="ciudad" id="ciudad" placeholder="Ciudad" required />
            </div>

            <div class="input-form">
                <label class="label-icon" for="email">
                    <i class="fas fa-envelope"></i>
                </label>
                <input type="email" name="email" id="email" placeholder="Email" required />
            </div>

            <div class="input-form">
                <label class="label-icon" for="tel-codigo-area">
                    <i class="fas fa-phone-alt"></i>
                </label>
                <input type="text" name="tel-codigo-area" id="tel-codigo-area" placeholder="Cód. área" />

                <label class="label-icon" for="telefono">
                    <i class="fas fa-phone-alt"></i>
                </label>
                <input type="text" name="telefono" id="telefono" placeholder="Telefono" />
            </div>
            <br>
       
            <div class="input-form">
                <label class="label-icon" for="username">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="username" id="username" placeholder="Nombre de Usuario" />
            </div>
            
            <div class="input-form">
                <label class="label-icon" for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password" id="password" placeholder="Contraseña" required />
            </div>
            <div class="input-form">
                <label class="label-icon" for="password1">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password1" id="password1" placeholder=" Repetir Contraseña" required />
            </div>           
          
            <div class="form-btn-send">
                <button type="submit">Crear cuenta</button>
            </div>

            
        </form>
        <p class="aviso-iniciasesion">¿Ya tienes una cuenta? <a href="users/login">Inicia Sesión</a></p>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>